<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LogIn</title>
</head>

<body>
    <div class="box">
        <form>
            <p class="login_title">{{login}}</p>
            <div class="indiv">
                <label for="">UserName : </label>
                <input type="text" placeholder="UserName" class="input"><br>
                <label for="">Password : </label>
                <input type="text" placeholder="Password" class="input"><br>
                <!-- <label for="">L Name : </label>
                <input type="text" class="input" [value]="lName"> <br><br>
                <label for="" class="gender">Gender : </label> 
                <label for="">Male : </label> <input type="radio" checked name="gender">
                <label for="">Female : </label> <input type="radio" name="gender">
                <label for="">Other : </label> <input type="radio" name="gender"> -->

                <button class="btn" >Submit</button>
            </div>
        </form>
    </div>
    <!-- <p>UserName : {{UsserName}} from {{city}}</p>
    <button (click)="click()"> click hare</button>
    <br><br>
    <input type="text" [(ngModel)]="city"> -->
    
</body>

</html>