<!-- <p>admin-log-in works!</p> -->
<h1>Welcome Admin-Login</h1>
<button  routerLink = '/home' class = "homebtn">Home</button>
<div class="div1">
    <form>
        <p class="login_title">Admin Login</p>
        <div class="indiv">
           <div class="inpt">
            <label for="">UserName : </label>
            <input type="text" placeholder="UserName" class="input"><br>
            <label for="">Password : </label>
            <input type="text" placeholder="Password" class="input"><br>
           </div>
            <!-- <label for="">L Name : </label>
            <input type="text" class="input" [value]="lName"> <br><br>
            <label for="" class="gender">Gender : </label> 
            <label for="">Male : </label> <input type="radio" checked name="gender">
            <label for="">Female : </label> <input type="radio" name="gender">
            <label for="">Other : </label> <input type="radio" name="gender"> -->

            <button class="btn" >Submit</button>
        </div>
    </form>
</div>