<div class="signUpBox">
    <div class="usern">
        <label for="" class="Logo">Sign-Up Page</label> <br>
        <label for="">User Name : </label>
        <input type="text" placeholder="UserName" class="in">
        <br><br>
        <label for="">Password : </label>
        <input type="text" placeholder="Password" class="in">
        <br><br>
        <label for="">Re-Password : </label>
        <input type="text" placeholder="re-password" class="in">
        <br><br>
        <button class="btn">Sign-Up</button>
    </div>
</div>